<div class="c-50 c-col">
  <h1 class="brands-header">Brands you’ll love</h1>
  <div class="brands-tile-wrapper">
    <div class="left">
      <h2 class="subtitle">Filter By</h2>
      <div class="facets-container">
        <facet-filters-form class="facets small-hide">
          <form id="FacetFiltersForm" class="facets__form">
            <div class="active-facets active-facets-desktop">
              <facet-remove class="active-facets__button-wrapper">
                <a href="/collections/brands" class="clear-all" role="button">
                  <span>Clear all</span>
                  <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.856442 7.60754C1.06193 7.60754 1.26672 7.60824 1.47221 7.60754C1.76285 7.60613 1.89304 7.50761 1.94863 7.22119C2.11753 6.35842 2.40536 5.53857 2.83604 4.7715C3.45673 3.66383 4.29065 2.74827 5.3364 2.02835C6.30051 1.36403 7.36245 0.929122 8.51516 0.73067C12.8523 -0.0145826 16.9628 2.80457 17.8403 7.11985C18.7073 11.3824 15.9564 15.6294 11.7101 16.5879C11.1133 16.7223 10.5095 16.799 9.89799 16.7919C9.49616 16.7877 9.16611 16.4865 9.12881 16.1079C9.0894 15.7075 9.32938 15.3465 9.70939 15.2599C9.85647 15.2261 10.0113 15.224 10.1633 15.2149C12.6045 15.0692 14.4335 13.9179 15.6334 11.8046C16.3794 10.4914 16.6074 9.05441 16.3203 7.57165C15.8495 5.14378 14.4441 3.452 12.1288 2.58008C9.2386 1.4914 5.97961 2.63919 4.35399 5.26763C3.9782 5.87495 3.71078 6.52802 3.5454 7.2233C3.48488 7.47735 3.582 7.60473 3.8473 7.60684C4.22239 7.61036 4.59819 7.60473 4.97327 7.61106C5.04294 7.61247 5.11121 7.65258 5.18088 7.6751C5.15625 7.74829 5.14991 7.83696 5.10417 7.89326C4.34766 8.82711 3.58692 9.75744 2.82478 10.6864C2.66926 10.8764 2.51584 10.8764 2.35891 10.6857C1.59606 9.75674 0.83533 8.82711 0.0781143 7.89326C0.0323717 7.83696 0.0253344 7.7497 0 7.67651C0.0689658 7.65328 0.137228 7.61317 0.206194 7.61036C0.422943 7.60191 0.639692 7.60684 0.857146 7.60684L0.856442 7.60754Z" fill="black"></path>
                  </svg>
                </a>
              </facet-remove>
            </div>
            <div class="col drawer allow-click">
              <h6 class="eyebrow">FILTER BY<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3.75" y="8.75" width="10.5" height="1.5" rx="0.375" fill="white"></rect><rect x="9.75" y="4.25" width="10.5" height="1.5" rx="0.375" transform="rotate(90 9.75 4.25)" fill="white"></rect></svg></h6>
              <div class="drawer-items">
                <div class="js-filter" data-index="2">
                  {%- for block in section.blocks -%}
                    {% assign thisCollection = block.settings.collection %}
                    <div class="input-block">
                      <input type="checkbox" name="filter.p.vendor" value="Divatrim" id="Filter-Brand-1">
                      <label for="Filter-Brand-1" class="dw-item">{{ thisCollection.type }}</label>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="col drawer allow-click">
              <h6 class="eyebrow">Brand<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3.75" y="8.75" width="10.5" height="1.5" rx="0.375" fill="white"></rect><rect x="9.75" y="4.25" width="10.5" height="1.5" rx="0.375" transform="rotate(90 9.75 4.25)" fill="white"></rect></svg></h6>
              <div class="drawer-items">
                <div class="js-filter" data-index="2">
                  {%- for block in section.blocks -%}
                    {% assign thisCollection = block.settings.collection %}
                    <div class="input-block">
                      <input type="checkbox" name="filter.p.vendor" value="Divatrim" id="Filter-Brand-1">
                      <label for="Filter-Brand-1" class="dw-item">{{ thisCollection.title }}</label>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="col drawer allow-click">
              <h6 class="eyebrow">SUPPLEMENT FORM<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3.75" y="8.75" width="10.5" height="1.5" rx="0.375" fill="white"></rect><rect x="9.75" y="4.25" width="10.5" height="1.5" rx="0.375" transform="rotate(90 9.75 4.25)" fill="white"></rect></svg></h6>
              <div class="drawer-items">
                <div class="js-filter" data-index="2">
                  {%- for block in section.blocks -%}
                    {% assign thisCollection = block.settings.collection %}
                    <div class="input-block">
                      <input type="checkbox" name="filter.p.vendor" value="Divatrim" id="Filter-Brand-1">
                      <label for="Filter-Brand-1" class="dw-item">{{ thisCollection.tag }}</label>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="sorts drawer replace-label">
              <p class="caps">Sort by: <span class="current-label"></span> {% include "icon-arrow-down" %}</p>
              <div class="drawer-items" id="FakeSortBy">

              </div>
            </div>
          </form>
        </facet-filters-form>
      </div>
    </div>

    <div class="brands-grid">
      {%- for block in section.blocks -%}
        {% assign thisCollection = block.settings.collection %}
        {% assign productCount = thisCollection.products | size %}
        <div  class="collection-tab mw{% if productCount == 0 %} coming-soon{% endif %}">
          {% if productCount == 0 %}
            <span class="coming-soon-text">Coming<br>soon</span>
            <div>
              <img class="preload" {% if thisCollection.image.alt %} alt="{{ thisCollection.image.alt }}"{% endif %} data-preload-desktop="https:{{ thisCollection.image | image_url: width: 550 }}" data-preload-mobile="https:{{ thisCollection.image | image_url: width: 550 }}">
              <span class="brand-title">{{ thisCollection.title }}</span>
            </div>
          {% else %}
            <a href="/collections/{{ thisCollection.handle }}">
              <img class="preload" {% if thisCollection.image.alt %} alt="{{ thisCollection.image.alt }}"{% endif %} data-preload-desktop="https:{{ thisCollection.image | image_url: width: 550 }}" data-preload-mobile="https:{{ thisCollection.image | image_url: width: 550 }}">
            </a>
          {% endif %}
          <span class="brand-title">{{ thisCollection.title }}</span>
        </div>

      {% endfor %}
      <div class="collection-tab filler"></div>
      <div class="collection-tab filler"></div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Collection Brands",
  "tag": "section",
  "class": "collection-brands",
  "blocks": [
    {
      "name": "Collections grid",
      "type": "collection_grid",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
