<div class="c-50">

    <h3 class="header-l">{{ section.settings.header }}</h3>

    <div class="slider blocks mw" data-at="767" data-align="start">
        <div class="slides">
            <div class="inner">
                {%- for block in section.blocks -%}
                    <div class="block slide">
                        <img class="image preload"{% if block.settings.image.alt %} alt="{{ block.settings.image.alt }}"{% endif %} data-preload-desktop="https:{{ block.settings.image | image_url }}" data-preload-mobile="https:{{ block.settings.image | image_url }}">
                        <p class="header-m tile-title">{{ block.settings.tile_title }}</p>
                        <p class="subtitle tile-copy">{{ block.settings.tile_copy }}</p>
                        <a href="{{ block.settings.tile_url }}" class="read-more mobile-only">{{ block.settings.button_text }}{% include 'icon-arrow-red' %}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% schema %}
{
"name": "Content Tile Trio",
"tag": "section",
"class": "content-tile-trio",
"settings": [
{
"id": "header",
"type": "text",
"label": "Header"
}
],
"blocks": [
{
"name": "Block Slide",
"type": "block",
"limit": 3,
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"id": "tile_title",
"type": "text",
"label": "Tile Title"
},
{
"id": "tile_copy",
"type": "text",
"label": "Tile Copy"
},
{
"id": "button_text",
"type": "text",
"label": "Button Text (mobile)"
},
{
"id": "tile_url",
"type": "text",
"label": "Tile URL"
}
]
}
]
}
{% endschema %}