<img class="image preload"{% if section.settings.image.alt %} alt="{{ section.settings.image.alt }}"{% endif %} data-preload-desktop="https:{{ section.settings.image | image_url }}" data-preload-mobile="https:{{ section.settings.image | image_url }}">
<div class="c-90">
    <h4 class="header-l">{{ section.settings.header }}</h4>
    <p class="subtitle">{{ section.settings.text }}</p>
    <div class="form-wrapper">
        <form class="cta-content input-block bind-form" data-id="{{ settings.list_id }}">
            <input class="password" type="password" name="password" id="password" placeholder="Password">
            <input class="non-account" type="email" name="email" id="email" placeholder="Your email">
            <div class="text email-disclaimer">{{ section.settings.disclaimer }}</div>
            <button class="btn caps white" type="submit">Subscribe</button>
        </form>
        <p class="success-message">{{ settings.success_message }}</p>
    </div>

    <div class="linear-bg mobile-only"></div>
</div>

{% schema %}
{
"name": "Email CTA",
"tag": "section",
"class": "email-cta mw",
"settings": [
{
"id": "image",
"type": "image_picker",
"label": "Image"
},
{
"id": "header",
"type": "text",
"label": "Header"
},
{
"id": "text",
"type": "text",
"label": "Text"
},
{
"id": "disclaimer",
"type": "richtext",
"label": "Disclaimer"
},
{
"id": "success_message",
"type": "text",
"label": "Success message"
},
{
"id": "list_id",
"type": "text",
"label": "Klaviyo list ID"
}
]
}
{% endschema %}
