<section class="blog">
    <div class="container">
        <h3 class="blog__title">{{ section.settings.header }}</h3>
        <div class="blog__content">
            {%- for article in section.settings.blog.articles limit: 3 -%}
                <a class="blog__card" href="{{ article.url }}">
                    <div class="card-img">
                        <img src="{{ article.image | image_url }}" alt="{{ article.title }}">
                    </div>
                    <h3 class="card-title">{{ article.title }}</h3>
                    <p class="card-text">{{ article.content | strip_html | truncatewords: 15 }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "header",
      "type": "text",
      "label": "Header"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
