{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="search-page c-50{% unless search.performed and search.results_count > 0 %} search-empty{% endunless %}">
  {%- if search.performed -%}
    {%- if search.results.size == 0 -%}
      <h2 class="title title--primary">{{ settings.search_no_results_header }}</h2>
      <p class="text">{{ settings.search_no_results_subheader }}</p>
      <div class="suggestion-grid">
        {% if settings.search_recommended_one_link %}
          <a href="{{ settings.search_recommended_one_link }}">{{ settings.search_recommended_one }}</a>
        {% endif %}
        {% if settings.search_recommended_two_link %}
          <a href="{{ settings.search_recommended_two_link }}">{{ settings.search_recommended_two }}</a>
        {% endif %}
        {% if settings.search_recommended_three_link %}
          <a href="{{ settings.search_recommended_three_link }}">{{ settings.search_recommended_three }}</a>
        {% endif %}
        {% if settings.search_recommended_four_link %}
          <a href="{{ settings.search_recommended_four_link }}">{{ settings.search_recommended_four }}</a>
        {% endif %}
        {% if settings.search_recommended_five_link %}
          <a href="{{ settings.search_recommended_five_link }}">{{ settings.search_recommended_five }}</a>
        {% endif %}
      </div>
    {%- else -%}
      <h1 class="h2">Products ({{ search.results_count }})</h1>
      {% paginate search.results by 1000 %}
        <div class="mw" id="results-grid" data-id="{{ section.id }}">
          {%- for item in search.results -%}
            {%- case item.object_type -%}
              {%- when 'product' -%}
                <a href="/products/{{ item.handle }}" title="{{ item.title }}">
                  <div class="img-wrapper">
                    <img class="preload" data-preload-desktop="https:{{ item.images[0] |  image_url }}" data-preload-mobile="https:{{ item.images[0] | image_url }}">
                  </div>
                  <p class="title">{{ item.title }}</p>
                </a>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {% endpaginate %}
    {%- endif -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-search.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-search.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    }
  ]
}
{% endschema %}
