{% if page.metafields.accentuate.hero_image[0].src != blank %}
  <img class="preload-critical" data-preload-desktop="{{ page.metafields.accentuate.hero_image[0].src }}" data-preload-mobile="{{ page.metafields.accentuate.hero_image[0].src }}" alt="{{ page.title | escape }}">
{% else %}
  <img class="preload-critical" data-preload-desktop="https:{{ section.settings.image | image_url }}" data-preload-mobile="https:{{ section.settings.image | image_url }}" alt="{{ page.title | escape }}">
{% endif %}


{% comment %}
<img class="preload-critical" data-preload-desktop="{{ page.metafields.accentuate.hero_image[0].src }}" data-preload-mobile="{{ page.metafields.accentuate.hero_image[0].src }}">
{% endcomment %}
<div class="c-245">
  <div class="utility-rich-text utility-content">
    <h1>{{ page.title | escape }}</h1>
    {{ page.content }}
  </div>
</div>


{% schema %}
{
"name": "Utility Page",
"tag": "section",
"class": "utility-page",
"settings": [
{
"id": "image",
"type": "image_picker",
"label": "Image"
},
{
"id": "image_mobile",
"type": "image_picker",
"label": "Image Mobile"
},
{
"id": "rich_text",
"type": "text",
"label": "Rich Text"
}
]
}
{% endschema %}
