{% assign vendorHandle = product.vendor | remove: "'" | replace: ' ', '-' | downcase %}
<div class="breadcrumbs c-50">
    <a href="/collections/all">Shop</a>
    {% assign vendorHandle = product.vendor | remove: "'" | replace: ' ', '-' | downcase %}
    {% if collections[vendorHandle] != empty %}
        <span>/</span>
        <a href="/collections/{{ vendorHandle }}">{{ vendorHandle| replace: '-', ' ' }}</a>
    {% endif %}
    <span>/</span>
    <p>{{ product.title }}</p>
</div>
<div class="product c-90">
    <div class="left">
        {% assign imageCount = product.images | size %}
        <div class="{% if imageCount > 1 %}slider {% endif %}thumbnail-wrapper mw{% if imageCount == 1 %} mobile-only{% endif %}" data-at="767">
            <div class="slides">
                <div class="inner mw">
                    {% for image in product.images limit: 6 %}
                        <div class="ar-wrapper{% if forloop.first %} active{% endif %}" style="--ar: 100%; --mar: 100%;">
                            <img class="image-mobile preload{% if forloop.first %}-critical main-mobile{% endif %}" data-preload-desktop="https:{{ image | image_url }}" data-preload-mobile="https:{{ image | image_url }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if imageCount > 1 %}
                <div class="dots mobile-only">
                    {% for image in product.images %}
                        <button class="dot{% if forloop.first %} active{% endif %}"></button>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="image-wrapper main desktop-only">
            <img class="preload-critical" data-preload-desktop="https:{{ product.images[0] | image_url }}">
        </div>
    </div>
    <div class="right">
        <div class="vendor-eyebrow">
            {% if product.type != blank %}
                <p class="caps">{{ product.type }}</p>
                <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="3.5" cy="3.5" r="3.5" fill="#383838"/>
                </svg>
            {% endif %}
            <p class="caps">{{ product.vendor }}</p>
        </div>
        <div class="header-wrapper">
            <h1 class="header-l">{{ product.title }}</h1>
        </div>
        <div class="review-overview hero-overview" data-id="{{ product.id }}">
            {% render "icon-star" %}
            {% render "icon-star" %}
            {% render "icon-star" %}
            {% render "icon-star" %}
            {% render "icon-star" %}
            <p>(<span class="review-count"></span>) Reviews</p>
        </div>
        <div class="price-row">
            <p class="price">{{ product.first_available_variant.price | money }}</p>
            <p class="compare-at-price with-strike{% if product.first_available_variant.compare_at_price %} visible{% endif %}">{% if product.first_available_variant.compare_at_price %}{{ product.first_available_variant.compare_at_price | money }}{% else %}$0.00{% endif %}</p>
        </div>
        {% assign optionsSize = product.options | size %}
        {% if product.has_only_default_variant == false %}
            <div class="all-options">
                {% for option in product.options_with_values %}
                    {% assign valueSize = option.values | size %}
                    {% if option.name != "Title" %}
                        <div class="option-wrapper">
                            <p>{{ option.name }}</p>
                            <div class="drawer replace-label">
                                <button class="label">
                                    <span class="current-label">{{ option.values[0] }}</span>
                                    <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1.40446L5.5 6.5L-2.22733e-07 1.40446L0.97625 0.5L5.5 4.69108L10.0238 0.5L11 1.40446Z" fill="#848484"/>
                                    </svg>
                                </button>
                                <div class="drawer-items select-one">
                                    {% for value in option.values %}
                                        {% if forloop.first %}
                                            <p class="non-color-option button option copy active" data-value="{{ value }}">{{ value }}</p>
                                        {% else %}
                                            <p class="non-color-option button option copy" data-value="{{ value }}">{{ value }}</p>
                                        {% endif %}
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.first %}
                        <div class="option-wrapper quantity">
                            <p>Quantity</p>
                            <div class="drawer replace-label">
                                <button class="label">
                                    <span class="current-label">1</span>
                                    <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1.40446L5.5 6.5L-2.22733e-07 1.40446L0.97625 0.5L5.5 4.69108L10.0238 0.5L11 1.40446Z" fill="#848484"/>
                                    </svg>
                                </button>
                                <div class="drawer-items select-one">
                                    <p class="non-color-option button copy active" data-value="1">1</p>
                                    <p class="non-color-option button copy active" data-value="2">2</p>
                                    <p class="non-color-option button copy active" data-value="3">3</p>
                                    <p class="non-color-option button copy active" data-value="4">4</p>
                                    <p class="non-color-option button copy active" data-value="5">5</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {%- endfor %}
            </div>
        {% else %}
        <div class="all-options">
            <div class="option-wrapper quantity">
                <p>Quantity</p>
                <div class="drawer replace-label">
                    <button class="label">
                        <span class="current-label">1</span>
                        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1.40446L5.5 6.5L-2.22733e-07 1.40446L0.97625 0.5L5.5 4.69108L10.0238 0.5L11 1.40446Z" fill="#848484"/>
                        </svg>
                    </button>
                    <div class="drawer-items select-one">
                        <p class="non-color-option button copy active" data-value="1">1</p>
                        <p class="non-color-option button copy active" data-value="2">2</p>
                        <p class="non-color-option button copy active" data-value="3">3</p>
                        <p class="non-color-option button copy active" data-value="4">4</p>
                        <p class="non-color-option button copy active" data-value="5">5</p>
                    </div>
                </div>
            </div>
        </div>
        {%- endif %}

        <form class="atc-form" action="/cart/add">
            <div class="hidden">
                <select name="id">
                    {% for variant in product.variants %}
                        <option value="{{ variant.id }}"
                                {%- if variant == current_variant or product.has_only_default_variant %} selected="selected" {%- endif -%}
                        >
                            {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="subscription-wrapper text-s">
                {% render 'skio-plan-picker' %}
            </div>
            {% if product.has_only_default_variant %}
                <button class="button add-to-cart header-m{% if product.available %}{% else %} disabled{% endif %}" type="submit" data-id="{{ product.variants[0].id }}">Add To Cart</button>
            {% else %}
                <button data-variants="{% for variant in product.variants %}{% if forloop.last == true %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}{% else %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}|||{% endif %}{% endfor %}" class="button add-to-cart header-m{% if product.available %}{% else %} disabled{% endif %}" type="submit" data-id="{{ product.first_available_variant.id }}">Add To Cart</button>
            {% endif %}
        </form>
    </div>
</div>
<div class="c-120 icon-row">
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4707_276762)">
            <path d="M22.8799 10.8359L97.1299 85.0859" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M97.1299 10.8359L22.8799 85.0859" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M85.6801 56.5764L85.6301 57.4964C85.6001 57.9764 84.8901 69.2064 77.7001 73.8364C75.0801 75.5264 72.0201 76.0664 69.1701 76.0664C65.9901 76.0664 63.0501 75.3864 61.2801 74.8764V88.6064H58.7501V74.8664C56.9801 75.3864 54.0401 76.0664 50.8501 76.0664C47.9901 76.0664 44.9301 75.5264 42.3101 73.8364C35.1301 69.2064 34.4101 57.9764 34.3801 57.4964L34.3301 56.5764L35.1901 56.2464C35.6401 56.0764 46.1601 52.0864 53.3501 56.7164C55.8601 58.3364 57.5701 60.7464 58.7501 63.2364V54.5364C57.3901 54.8064 55.3001 55.1164 52.9401 55.1164C49.4901 55.1164 45.4501 54.4464 42.3201 51.9764C35.6101 46.6864 35.9601 35.4364 35.9801 34.9564L36.0201 34.0364L36.9101 33.7864C37.3701 33.6564 48.2201 30.6864 54.9301 35.9864C56.6001 37.3064 57.8401 38.9964 58.7501 40.7964V38.4864C56.7601 36.9064 49.8301 30.8564 49.8301 23.3764C49.8301 14.8264 58.8801 8.13641 59.2601 7.85641L60.0101 7.31641L60.7501 7.85641C61.1401 8.13641 70.1901 14.8264 70.1901 23.3764C70.1901 30.8464 63.2801 36.8864 61.2801 38.4764V40.7664C62.1901 38.9764 63.4201 37.2964 65.0801 35.9864C71.8001 30.6964 82.6501 33.6564 83.1101 33.7864L84.0001 34.0364L84.0301 34.9564C84.0501 35.4364 84.4101 46.6864 77.7001 51.9764C74.5601 54.4464 70.5301 55.1164 67.0701 55.1164C64.7201 55.1164 62.6401 54.8064 61.2801 54.5364V63.1964C62.4601 60.7264 64.1701 58.3164 66.6701 56.7164C73.8501 52.0864 84.3801 56.0764 84.8201 56.2464L85.6801 56.5764Z" fill="white" stroke="white" stroke-width="5" stroke-miterlimit="10"/>
            <path d="M61.2802 32.7363H58.7402V88.5963H61.2802V32.7363Z" fill="#585858"/>
            <path d="M60.0098 8.88672C60.0098 8.88672 51.0898 15.3767 51.0898 23.3767C51.0898 31.3767 60.0098 37.8567 60.0098 37.8567C60.0098 37.8567 68.9198 31.3767 68.9198 23.3767C68.9198 15.3767 60.0098 8.88672 60.0098 8.88672ZM60.0098 36.2467C57.9498 34.5367 52.3598 29.3367 52.3598 23.3767C52.3598 17.4167 57.9498 12.2167 60.0098 10.5067C62.0698 12.2167 67.6598 17.4067 67.6598 23.3767C67.6598 29.3467 62.0598 34.5267 60.0098 36.2467Z" fill="white"/>
            <path d="M60.7501 7.85641L60.0101 7.31641L59.2601 7.85641C58.8801 8.13641 49.8301 14.8264 49.8301 23.3764C49.8301 31.9264 58.8801 38.6064 59.2601 38.8864L60.0101 39.4264L60.7501 38.8864C61.1401 38.6064 70.1901 31.9264 70.1901 23.3764C70.1901 14.8264 61.1401 8.13641 60.7501 7.85641ZM60.0101 36.2464C57.9501 34.5364 52.3601 29.3364 52.3601 23.3764C52.3601 17.4164 57.9501 12.2164 60.0101 10.5064C62.0701 12.2164 67.6601 17.4064 67.6601 23.3764C67.6601 29.3464 62.0601 34.5264 60.0101 36.2464Z" fill="#585858"/>
            <path d="M67.6604 23.3759C67.6604 29.3259 62.0604 34.5259 60.0104 36.2459C57.9504 34.5359 52.3604 29.3359 52.3604 23.3759C52.3604 17.4159 57.9504 12.2159 60.0104 10.5059C62.0704 12.2159 67.6604 17.4059 67.6604 23.3759Z" fill="#FFD3D3"/>
            <path d="M82.7707 35.0065C82.7707 35.0065 72.1507 32.0265 65.8707 36.9765C59.5907 41.9365 60.0107 52.9565 60.0107 52.9565C60.0107 52.9565 70.6307 55.9365 76.9107 50.9765C83.1907 46.0265 82.7707 35.0065 82.7707 35.0065ZM76.1307 49.9865C71.4607 53.6665 63.9007 52.5065 61.2807 51.9465C61.3507 49.2765 61.9707 41.6665 66.6607 37.9765C71.3307 34.2965 78.8807 35.4565 81.5007 36.0165C81.4307 38.6865 80.8107 46.2965 76.1307 49.9865Z" fill="white"/>
            <path d="M84.0303 34.9558L84.0003 34.0358L83.1103 33.7858C82.6503 33.6558 71.8003 30.6958 65.0803 35.9858C58.3703 41.2758 58.7303 52.5258 58.7503 52.9958L58.7803 53.9258L59.6703 54.1758C59.9103 54.2358 63.1203 55.1158 67.0703 55.1158C70.5303 55.1158 74.5603 54.4458 77.7003 51.9758C84.4103 46.6858 84.0503 35.4358 84.0303 34.9558ZM61.2803 51.9458C61.3503 49.2758 61.9703 41.6658 66.6603 37.9758C71.3303 34.2958 78.8803 35.4558 81.5003 36.0158C81.4303 38.6858 80.8103 46.2958 76.1303 49.9858C71.4603 53.6658 63.9003 52.5058 61.2803 51.9458Z" fill="#585858"/>
            <path d="M81.5003 36.0154C81.4303 38.6854 80.8103 46.2954 76.1303 49.9854C71.4603 53.6654 63.9003 52.5054 61.2803 51.9454C61.3503 49.2754 61.9703 41.6654 66.6603 37.9754C71.3303 34.2954 78.8803 35.4554 81.5003 36.0154Z" fill="#FFD3D3"/>
            <path d="M54.1504 36.9765C47.8604 32.0265 37.2504 35.0065 37.2504 35.0065C37.2504 35.0065 36.8204 46.0265 43.1104 50.9765C49.3904 55.9365 60.0004 52.9565 60.0004 52.9565C60.0004 52.9565 60.4304 41.9365 54.1504 36.9765ZM43.8904 49.9865C39.2204 46.3065 38.5904 38.6865 38.5204 36.0165C41.1404 35.4565 48.6904 34.2865 53.3604 37.9765C58.0304 41.6565 58.6604 49.2765 58.7304 51.9465C56.1104 52.5065 48.5604 53.6665 43.8904 49.9865Z" fill="white"/>
            <path d="M54.9304 35.9859C48.2204 30.6859 37.3704 33.6559 36.9104 33.7859L36.0204 34.0359L35.9804 34.9559C35.9604 35.4359 35.6104 46.6859 42.3204 51.9759C45.4504 54.4459 49.4904 55.1159 52.9404 55.1159C56.9004 55.1159 60.1004 54.2359 60.3504 54.1759L61.2304 53.9259L61.2704 52.9959C61.2904 52.5259 61.6404 41.2759 54.9304 35.9859ZM43.8904 49.9859C39.2204 46.3059 38.5904 38.6859 38.5204 36.0159C41.1404 35.4559 48.6904 34.2859 53.3604 37.9759C58.0304 41.6559 58.6604 49.2759 58.7304 51.9459C56.1104 52.5059 48.5604 53.6659 43.8904 49.9859Z" fill="#585858"/>
            <path d="M58.7305 51.9468C56.1105 52.5068 48.5605 53.6668 43.8905 49.9868C39.2205 46.3068 38.5905 38.6868 38.5205 36.0168C41.1405 35.4568 48.6905 34.2868 53.3605 37.9768C58.0305 41.6568 58.6605 49.2768 58.7305 51.9468Z" fill="#FFD3D3"/>
            <path d="M67.3607 57.7866C63.3207 60.3866 61.4807 65.4066 60.6607 68.9866C60.1107 71.3766 60.0107 73.1266 60.0107 73.1266C60.0107 73.1266 60.4907 73.3066 61.3007 73.5566C64.2707 74.4566 71.7407 76.1766 77.0207 72.7666C83.7407 68.4366 84.3707 57.4266 84.3707 57.4266C84.3707 57.4266 74.0807 53.4466 67.3607 57.7866ZM76.3307 71.7066C71.3307 74.9266 63.9207 73.0466 61.3707 72.2466C61.7007 69.5866 63.0407 62.0666 68.0507 58.8466C73.0407 55.6266 80.4507 57.5066 83.0107 58.3066C82.6807 60.9666 81.3307 68.4866 76.3307 71.7066Z" fill="white"/>
            <path d="M84.8204 56.2459C84.3804 56.0759 73.8504 52.0859 66.6704 56.7159C63.0604 59.0359 61.0804 63.0259 60.0104 66.4859C59.7304 67.3659 59.5204 68.1959 59.3504 68.9659C58.8504 71.2259 58.7504 72.8759 58.7404 73.0559L58.7104 73.5559L58.6904 73.9759L59.5504 74.3059C59.5504 74.3059 59.7504 74.3859 60.0104 74.4759C61.2904 74.9159 65.0204 76.0659 69.1704 76.0659C72.0204 76.0659 75.0804 75.5259 77.7004 73.8359C84.8904 69.2059 85.6004 57.9759 85.6304 57.4959L85.6804 56.5759L84.8204 56.2459ZM61.3704 72.2459C61.7004 69.5859 63.0404 62.0659 68.0504 58.8459C73.0404 55.6259 80.4504 57.5059 83.0104 58.3059C82.6804 60.9659 81.3304 68.4859 76.3304 71.7059C71.3304 74.9259 63.9204 73.0459 61.3704 72.2459Z" fill="#585858"/>
            <path d="M83.0101 58.3056C82.6801 60.9656 81.3301 68.4856 76.3301 71.7056C71.3301 74.9256 63.9201 73.0456 61.3701 72.2456C61.7001 69.5856 63.0401 62.0656 68.0501 58.8456C73.0401 55.6256 80.4501 57.5056 83.0101 58.3056Z" fill="#FFD3D3"/>
            <path d="M59.3504 68.9666C58.5304 65.3866 56.6904 60.3866 52.6604 57.7866C45.9304 53.4466 35.6504 57.4266 35.6504 57.4266C35.6504 57.4266 36.2704 68.4366 43.0004 72.7666C48.2804 76.1666 55.7404 74.4566 58.7104 73.5566C59.5304 73.3166 60.0104 73.1266 60.0104 73.1266C60.0104 73.1266 59.9104 71.3666 59.3504 68.9666ZM43.6904 71.7066C38.6904 68.4866 37.3404 60.9666 37.0104 58.3066C39.5704 57.5066 46.9704 55.6266 51.9704 58.8466C56.9704 62.0666 58.3204 69.5966 58.6504 72.2466C56.1004 73.0566 48.7004 74.9366 43.6904 71.7066Z" fill="white"/>
            <path d="M61.3001 73.5559L61.2701 73.0559C61.2601 72.8759 61.1601 71.2259 60.6601 68.9859C60.4901 68.2159 60.2801 67.3759 60.0101 66.4959C58.9301 63.0359 56.9601 59.0459 53.3501 56.7159C46.1601 52.0859 35.6401 56.0759 35.1901 56.2459L34.3301 56.5759L34.3801 57.4959C34.4101 57.9759 35.1301 69.2059 42.3101 73.8359C44.9301 75.5259 47.9901 76.0659 50.8501 76.0659C55.0001 76.0659 58.7201 74.9159 60.0101 74.4759C60.2701 74.3859 60.4201 74.3259 60.4701 74.3059L61.3301 73.9759L61.3001 73.5559ZM51.9701 58.8459C56.9701 62.0659 58.3201 69.5959 58.6501 72.2459C56.1001 73.0559 48.7001 74.9359 43.6901 71.7059C38.6901 68.4859 37.3401 60.9659 37.0101 58.3059C39.5701 57.5059 46.9701 55.6259 51.9701 58.8459Z" fill="#585858"/>
            <path d="M58.6498 72.2456C56.0998 73.0556 48.6998 74.9356 43.6898 71.7056C38.6898 68.4856 37.3398 60.9656 37.0098 58.3056C39.5698 57.5056 46.9698 55.6256 51.9698 58.8456C56.9698 62.0656 58.3198 69.5956 58.6498 72.2456Z" fill="#FFD3D3"/>
        </g>
        <path d="M26.3132 107.819V108.611C26.3132 110.078 25.8439 111.266 24.9052 112.175C23.9665 113.085 22.7541 113.539 21.2679 113.539C19.6839 113.539 18.3687 113.026 17.3225 111.999C16.2861 110.963 15.7679 109.702 15.7679 108.215C15.7679 106.719 16.2812 105.453 17.3079 104.417C18.3443 103.38 19.6252 102.862 21.1505 102.862C22.1087 102.862 22.9839 103.082 23.7759 103.522C24.5679 103.952 25.1839 104.529 25.6239 105.253L23.8932 106.25C23.6487 105.83 23.2772 105.487 22.7785 105.223C22.2896 104.959 21.7421 104.827 21.1359 104.827C20.1581 104.827 19.3514 105.15 18.7159 105.795C18.0901 106.431 17.7772 107.238 17.7772 108.215C17.7772 109.183 18.095 109.985 18.7305 110.621C19.3759 111.246 20.2265 111.559 21.2825 111.559C22.0647 111.559 22.7101 111.388 23.2185 111.046C23.7367 110.694 24.0887 110.215 24.2745 109.609H21.1652V107.819H26.3132ZM29.7768 111.398H33.6928V113.334H27.7528V103.067H29.7768V111.398ZM38.5131 113.539C37.3691 113.539 36.4304 113.217 35.6971 112.571C34.9638 111.926 34.5971 111.061 34.5971 109.975V103.067H36.6064V109.814C36.6064 110.352 36.758 110.777 37.0611 111.09C37.374 111.403 37.858 111.559 38.5131 111.559C39.1682 111.559 39.6473 111.403 39.9504 111.09C40.2633 110.777 40.4198 110.352 40.4198 109.814V103.067H42.4438V109.975C42.4438 111.061 42.0771 111.926 41.3438 112.571C40.6104 113.217 39.6669 113.539 38.5131 113.539ZM51.0578 103.067V105.003H48.2858V113.334H46.2618V105.003H43.5045V103.067H51.0578ZM54.2117 111.398H58.5384V113.334H52.1877V103.067H58.465V105.003H54.2117V107.189H58.0984V109.095H54.2117V111.398ZM65.9051 103.067H67.9291V113.334H66.3891L61.9891 107.057V113.334H59.9651V103.067H61.5051L65.9051 109.33V103.067ZM79.6309 105.003H75.5242V107.438H79.5135V109.374H75.5242V113.334H73.5002V103.067H79.6309V105.003ZM86.7377 113.334L84.6697 109.77H83.1297V113.334H81.1057V103.067H85.2123C86.1608 103.067 86.9675 103.4 87.6323 104.065C88.2972 104.73 88.6297 105.531 88.6297 106.47C88.6297 107.106 88.4488 107.697 88.087 108.245C87.7252 108.782 87.2461 109.188 86.6497 109.462L88.923 113.334H86.7377ZM83.1297 104.959V107.995H85.2123C85.5937 107.995 85.9212 107.849 86.195 107.555C86.4688 107.252 86.6057 106.89 86.6057 106.47C86.6057 106.05 86.4688 105.693 86.195 105.399C85.9212 105.106 85.5937 104.959 85.2123 104.959H83.1297ZM92.1388 111.398H96.4655V113.334H90.1148V103.067H96.3921V105.003H92.1388V107.189H96.0255V109.095H92.1388V111.398ZM99.9161 111.398H104.243V113.334H97.8921V103.067H104.169V105.003H99.9161V107.189H103.803V109.095H99.9161V111.398Z" fill="#848484"/>
        <defs>
            <clipPath id="clip0_4707_276762">
                <rect width="75.66" height="86.88" fill="white" transform="translate(22.1699 4.22656)"/>
            </clipPath>
        </defs>
    </svg>
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4707_276765)">
            <path d="M22.8799 10.5469L97.1299 84.7969" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M97.1299 10.5469L22.8799 84.7969" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M78.3699 61.1954C71.4399 70.5854 61.8299 75.8254 52.7099 75.8254C49.2399 75.8254 45.8399 75.0654 42.6799 73.4854C37.7099 70.9954 34.5199 65.6254 34.5699 59.7954C34.6299 52.7154 39.4299 46.3554 47.7599 42.3454C49.0199 41.7354 50.6999 39.6654 50.9199 38.4554C53.2999 25.2754 60.2099 21.3254 64.1099 20.1354C69.3999 18.5354 75.1299 20.0654 79.0699 24.1354C86.5699 31.9054 88.7399 47.1254 78.3699 61.1954Z" fill="white" stroke="white" stroke-width="8" stroke-miterlimit="10"/>
            <path d="M79.0699 24.1354C75.1299 20.0654 69.3999 18.5354 64.1099 20.1354C60.2099 21.3254 53.2999 25.2754 50.9199 38.4554C50.6999 39.6654 49.0199 41.7354 47.7599 42.3454C39.4299 46.3554 34.6299 52.7154 34.5699 59.7954C34.5199 65.6254 37.7099 70.9954 42.6799 73.4854C45.8399 75.0654 49.2399 75.8254 52.7099 75.8254C61.8299 75.8254 71.4399 70.5854 78.3699 61.1954C88.7399 47.1254 86.5699 31.9054 79.0699 24.1354ZM75.8199 59.3154C67.1799 71.0254 54.1299 75.6854 44.0999 70.6554C40.2599 68.7354 37.6999 64.3754 37.7399 59.8254C37.7599 57.2154 38.6399 52.8654 43.3799 48.8454C43.9699 48.3354 44.6199 47.8454 45.3399 47.3554C46.4399 46.6054 47.6999 45.8854 49.1299 45.1954C51.0899 44.2454 53.5999 41.4054 54.0299 39.0154C54.3399 37.2754 54.7599 35.6554 55.2699 34.1654C55.5399 33.3754 55.8299 32.6154 56.1599 31.8954C58.1899 27.3454 61.2199 24.3254 65.0299 23.1654C66.1199 22.8354 67.2199 22.6754 68.3199 22.6754C71.4399 22.6754 74.4999 23.9654 76.7899 26.3354C83.3699 33.1454 85.1499 46.6554 75.8199 59.3154Z" fill="#585858"/>
            <path d="M56.0898 44.136C54.7398 46.256 52.1798 47.926 49.7198 48.296C48.5598 48.466 46.9098 48.416 45.3398 47.356C46.4398 46.606 47.6998 45.886 49.1298 45.196C51.0898 44.246 53.5998 41.406 54.0298 39.016C54.3398 37.276 54.7598 35.656 55.2698 34.166C59.8798 37.636 56.7798 43.056 56.0898 44.136Z" fill="#FFD3D3"/>
            <path d="M58.0896 45.4154C56.3596 48.1154 53.2196 50.1754 50.0696 50.6454C49.5996 50.7154 49.1296 50.7454 48.6696 50.7454C46.7096 50.7454 44.8996 50.1054 43.3796 48.8454C43.3296 48.8154 43.2896 48.7754 43.2396 48.7354C42.7396 48.3054 42.6796 47.5654 43.1096 47.0654C43.5296 46.5654 44.2796 46.5054 44.7796 46.9254C44.9596 47.0854 45.1496 47.2254 45.3396 47.3554C46.9096 48.4154 48.5596 48.4654 49.7196 48.2954C52.1796 47.9254 54.7396 46.2554 56.0896 44.1354C56.7796 43.0554 59.8796 37.6354 55.2696 34.1654C55.0996 34.0354 54.9096 33.9054 54.7196 33.7854C54.1696 33.4254 54.0096 32.6954 54.3596 32.1454C54.7196 31.5954 55.4496 31.4254 55.9997 31.7854C56.0597 31.8254 56.1096 31.8554 56.1596 31.8954C61.2796 35.2854 60.8296 41.1154 58.0896 45.4154Z" fill="#585858"/>
        </g>
        <path d="M32.3109 113.539C31.294 113.539 30.4384 113.314 29.7442 112.865C29.05 112.405 28.5611 111.784 28.2775 111.002L30.0082 109.99C30.4091 111.036 31.1962 111.559 32.3695 111.559C32.9367 111.559 33.3522 111.457 33.6162 111.251C33.8802 111.046 34.0122 110.787 34.0122 110.474C34.0122 110.112 33.8509 109.834 33.5282 109.638C33.2055 109.433 32.6287 109.213 31.7975 108.978C31.338 108.841 30.9469 108.704 30.6242 108.567C30.3113 108.43 29.9935 108.25 29.6709 108.025C29.358 107.79 29.1184 107.497 28.9522 107.145C28.786 106.793 28.7029 106.382 28.7029 105.913C28.7029 104.984 29.0304 104.246 29.6855 103.698C30.3504 103.141 31.1473 102.862 32.0762 102.862C32.9073 102.862 33.6358 103.067 34.2615 103.478C34.8971 103.879 35.3909 104.441 35.7429 105.165L34.0415 106.147C33.6309 105.267 32.9758 104.827 32.0762 104.827C31.6558 104.827 31.3233 104.925 31.0789 105.121C30.8442 105.306 30.7269 105.551 30.7269 105.854C30.7269 106.177 30.8589 106.441 31.1229 106.646C31.3967 106.842 31.9149 107.057 32.6775 107.291C32.9904 107.389 33.2251 107.467 33.3815 107.526C33.5478 107.575 33.7678 107.658 34.0415 107.775C34.3251 107.883 34.5402 107.986 34.6869 108.083C34.8433 108.181 35.0193 108.313 35.2149 108.479C35.4104 108.646 35.5571 108.817 35.6549 108.993C35.7624 109.169 35.8504 109.384 35.9189 109.638C35.9971 109.882 36.0362 110.151 36.0362 110.445C36.0362 111.393 35.6891 112.146 34.9949 112.703C34.3104 113.261 33.4158 113.539 32.3109 113.539ZM45.9234 111.999C44.8869 113.026 43.6256 113.539 42.1394 113.539C40.6532 113.539 39.3918 113.026 38.3554 111.999C37.3287 110.963 36.8154 109.697 36.8154 108.201C36.8154 106.705 37.3287 105.443 38.3554 104.417C39.3918 103.38 40.6532 102.862 42.1394 102.862C43.6256 102.862 44.8869 103.38 45.9234 104.417C46.9598 105.443 47.478 106.705 47.478 108.201C47.478 109.697 46.9598 110.963 45.9234 111.999ZM39.778 110.621C40.4136 111.246 41.2007 111.559 42.1394 111.559C43.078 111.559 43.8652 111.246 44.5007 110.621C45.1363 109.985 45.454 109.178 45.454 108.201C45.454 107.223 45.1363 106.416 44.5007 105.781C43.8652 105.145 43.078 104.827 42.1394 104.827C41.2007 104.827 40.4136 105.145 39.778 105.781C39.1425 106.416 38.8247 107.223 38.8247 108.201C38.8247 109.178 39.1425 109.985 39.778 110.621ZM56.2811 103.067L52.7611 109.33V113.334H50.7518V109.33L47.2465 103.067H49.5345L51.7638 107.35L53.9931 103.067H56.2811ZM67.0625 105.003H62.9558V107.438H66.9452V109.374H62.9558V113.334H60.9318V103.067H67.0625V105.003ZM74.1693 113.334L72.1013 109.77H70.5613V113.334H68.5373V103.067H72.644C73.5924 103.067 74.3991 103.4 75.064 104.065C75.7289 104.73 76.0613 105.531 76.0613 106.47C76.0613 107.106 75.8804 107.697 75.5187 108.245C75.1569 108.782 74.6778 109.188 74.0813 109.462L76.3547 113.334H74.1693ZM70.5613 104.959V107.995H72.644C73.0253 107.995 73.3529 107.849 73.6267 107.555C73.9004 107.252 74.0373 106.89 74.0373 106.47C74.0373 106.05 73.9004 105.693 73.6267 105.399C73.3529 105.106 73.0253 104.959 72.644 104.959H70.5613ZM79.5704 111.398H83.8971V113.334H77.5464V103.067H83.8238V105.003H79.5704V107.189H83.4571V109.095H79.5704V111.398ZM87.3478 111.398H91.6744V113.334H85.3238V103.067H91.6011V105.003H87.3478V107.189H91.2344V109.095H87.3478V111.398Z" fill="#848484"/>
        <defs>
            <clipPath id="clip0_4707_276765">
                <rect width="75.66" height="75.66" fill="white" transform="translate(22.1699 9.83594)"/>
            </clipPath>
        </defs>
    </svg>
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4707_276768)">
            <path d="M22.8799 10.541L97.1299 84.791" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M97.1299 10.541L22.8799 84.791" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M87.1998 33.0113V82.4013C87.1998 85.0613 85.0398 87.2213 82.3798 87.2213H37.6198C34.9598 87.2213 32.7998 85.0613 32.7998 82.4013V33.1813C32.7998 32.5713 32.8998 31.9613 33.0698 31.3813C33.0698 31.3513 33.0598 31.3313 33.0598 31.3013C33.0598 31.0513 33.1598 30.8313 33.3198 30.6713C33.5298 30.1813 33.7998 29.7113 34.1298 29.2813L43.1298 17.6313V11.7613C43.1298 9.75133 44.7698 8.11133 46.7798 8.11133H73.2198C75.2298 8.11133 76.8698 9.75133 76.8698 11.7613V17.6213L85.8398 29.0713C86.7198 30.1913 87.1998 31.5913 87.1998 33.0113Z" fill="white" stroke="white" stroke-width="5" stroke-miterlimit="10"/>
            <path d="M44.8898 11.7613C44.8898 10.7213 45.7398 9.87133 46.7798 9.87133H73.2198C74.2598 9.87133 75.1098 10.7213 75.1098 11.7613V17.0413H44.8898V11.7613ZM65.3298 30.4213H35.4898C35.4898 30.4213 35.5098 30.3813 35.5298 30.3613L44.4398 18.8113H74.1798L66.1398 29.0713C65.8098 29.4913 65.5498 29.9413 65.3298 30.4213ZM85.8398 29.0713L76.8698 17.6213V11.7613C76.8698 9.75133 75.2298 8.11133 73.2198 8.11133H46.7798C44.7698 8.11133 43.1298 9.75133 43.1298 11.7613V17.6313L34.1298 29.2813C33.7998 29.7113 33.5298 30.1813 33.3198 30.6713C33.1598 30.8313 33.0598 31.0513 33.0598 31.3013C33.0598 31.3313 33.0698 31.3513 33.0698 31.3813C32.8998 31.9613 32.7998 32.5713 32.7998 33.1813V82.4013C32.7998 85.0613 34.9598 87.2213 37.6198 87.2213H82.3798C85.0398 87.2213 87.1998 85.0613 87.1998 82.4013V33.0113C87.1998 31.5913 86.7198 30.1913 85.8398 29.0713ZM64.7798 33.0113V85.4613H37.6198C35.9398 85.4613 34.5598 84.0913 34.5598 82.4013V33.1813C34.5598 32.8413 34.6198 32.5113 34.6898 32.1813H64.8398C64.7998 32.4513 64.7798 32.7313 64.7798 33.0113ZM85.4398 82.4013C85.4398 84.0913 84.0598 85.4613 82.3798 85.4613H66.5498V33.1813C66.5498 32.1713 66.8898 31.1713 67.5098 30.3613L75.9998 19.3613L84.4498 30.1613C85.0898 30.9713 85.4398 31.9813 85.4398 33.0113V82.4013Z" fill="#585858" stroke="#585858" stroke-miterlimit="10"/>
            <path d="M85.4398 33.0113V82.4013C85.4398 84.0913 84.0598 85.4613 82.3798 85.4613H66.5498V33.1813C66.5498 32.1713 66.8898 31.1713 67.5098 30.3613L75.9998 19.3613L84.4498 30.1613C85.0898 30.9713 85.4398 31.9813 85.4398 33.0113V33.0113Z" stroke="#585858" stroke-miterlimit="10"/>
            <path d="M64.8396 32.1816C64.7996 32.4516 64.7796 32.7316 64.7796 33.0116V85.4616H37.6196C35.9396 85.4616 34.5596 84.0916 34.5596 82.4016V33.1816C34.5596 32.8416 34.6196 32.5116 34.6896 32.1816H64.8396Z" stroke="#585858" stroke-miterlimit="10"/>
            <path d="M74.1802 18.8105L66.1402 29.0705C65.8102 29.4905 65.5502 29.9405 65.3302 30.4205H35.4902C35.4902 30.4205 35.5102 30.3805 35.5302 30.3605L44.4402 18.8105H74.1802V18.8105Z" stroke="#585858" stroke-miterlimit="10"/>
            <path d="M75.1096 11.7611V17.0411H44.8896V11.7611C44.8896 10.7211 45.7396 9.87109 46.7796 9.87109H73.2196C74.2596 9.87109 75.1096 10.7211 75.1096 11.7611Z" fill="#FFD3D3"/>
        </g>
        <path d="M26.2943 103.067C27.7023 103.067 28.8757 103.561 29.8143 104.549C30.7628 105.536 31.237 106.754 31.237 108.201C31.237 109.648 30.7628 110.865 29.8143 111.853C28.8757 112.84 27.7023 113.334 26.2943 113.334H22.217V103.067H26.2943ZM26.2943 111.398C27.1841 111.398 27.9077 111.105 28.465 110.518C29.0223 109.922 29.301 109.149 29.301 108.201C29.301 107.252 29.0223 106.485 28.465 105.898C27.9077 105.302 27.1841 105.003 26.2943 105.003H24.241V111.398H26.2943ZM38.9003 113.334L38.2843 111.486H34.1923L33.5763 113.334H31.391L34.9843 103.067H37.4923L41.1003 113.334H38.9003ZM34.8377 109.594H37.6537L36.2457 105.399L34.8377 109.594ZM42.0972 103.067H44.1212V113.334H42.0972V103.067ZM51.6537 113.334L49.5857 109.77H48.0457V113.334H46.0217V103.067H50.1284C51.0768 103.067 51.8835 103.4 52.5484 104.065C53.2132 104.73 53.5457 105.531 53.5457 106.47C53.5457 107.106 53.3648 107.697 53.003 108.245C52.6412 108.782 52.1621 109.188 51.5657 109.462L53.839 113.334H51.6537ZM48.0457 104.959V107.995H50.1284C50.5097 107.995 50.8372 107.849 51.111 107.555C51.3848 107.252 51.5217 106.89 51.5217 106.47C51.5217 106.05 51.3848 105.693 51.111 105.399C50.8372 105.106 50.5097 104.959 50.1284 104.959H48.0457ZM62.8697 103.067L59.3497 109.33V113.334H57.3403V109.33L53.835 103.067H56.123L58.3523 107.35L60.5817 103.067H62.8697ZM73.6511 105.003H69.5444V107.438H73.5337V109.374H69.5444V113.334H67.5204V103.067H73.6511V105.003ZM80.7579 113.334L78.6899 109.77H77.1499V113.334H75.1259V103.067H79.2325C80.181 103.067 80.9876 103.4 81.6525 104.065C82.3174 104.73 82.6499 105.531 82.6499 106.47C82.6499 107.106 82.469 107.697 82.1072 108.245C81.7454 108.782 81.2663 109.188 80.6699 109.462L82.9432 113.334H80.7579ZM77.1499 104.959V107.995H79.2325C79.6139 107.995 79.9414 107.849 80.2152 107.555C80.489 107.252 80.6259 106.89 80.6259 106.47C80.6259 106.05 80.489 105.693 80.2152 105.399C79.9414 105.106 79.6139 104.959 79.2325 104.959H77.1499ZM86.159 111.398H90.4856V113.334H84.135V103.067H90.4123V105.003H86.159V107.189H90.0456V109.095H86.159V111.398ZM93.9363 111.398H98.263V113.334H91.9123V103.067H98.1897V105.003H93.9363V107.189H97.823V109.095H93.9363V111.398Z" fill="#848484"/>
        <defs>
            <clipPath id="clip0_4707_276768">
                <rect width="75.66" height="84.11" fill="white" transform="translate(22.1699 5.61133)"/>
            </clipPath>
        </defs>
    </svg>
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4707_276771)">
            <path d="M22.8799 10.541L97.1299 84.791" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M97.1299 10.541L22.8799 84.791" stroke="#B3B3B3" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M72.03 57.7202C67.32 62.3702 61.64 65.9402 61.64 65.9402C61.02 66.3402 60.41 66.7302 59.83 67.1302C59.25 66.7402 58.64 66.3402 58.01 65.9402C58.01 65.9402 52.34 62.3702 47.62 57.7202C41.92 52.0902 41.94 43.0502 47.66 37.4502C52.37 32.8402 58.01 29.4302 58.01 29.4302C58.64 29.0302 59.25 28.6302 59.83 28.2402C60.41 28.6402 61.02 29.0302 61.64 29.4302C61.64 29.4302 67.29 32.8402 72 37.4502C77.72 43.0502 77.7299 52.0902 72.03 57.7202Z" fill="white" stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M72.3798 17.5098H64.0498" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M54.7397 17.5098H47.9697" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M72.3794 77.8613H67.6494" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M59.4497 77.8613H47.9697" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M48 37.4199H62.45" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M72.1303 57.9395H56.8203" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M76.6402 47.6797H65.9902" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M58.28 47.6797H43.71" stroke="#FFD3D3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M43.7002 8.23047C43.7002 9.24047 43.8102 17.8105 61.9902 29.4105C61.9902 29.4105 67.6402 32.8205 72.3402 37.4205C78.0602 43.0205 78.0702 52.0705 72.3802 57.6905C67.6702 62.3405 61.9902 65.9105 61.9902 65.9105C43.8202 77.5205 43.7002 86.0805 43.7002 87.0905" stroke="#585858" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M76.6399 8.23047C76.6399 9.24047 76.5299 17.8105 58.3499 29.4105C58.3499 29.4105 52.6999 32.8205 47.9999 37.4205C42.2799 43.0205 42.2699 52.0705 47.9599 57.6905C52.6699 62.3405 58.3499 65.9105 58.3499 65.9105C76.5199 77.5205 76.6399 86.0805 76.6399 87.0905" stroke="#585858" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <path d="M29.9689 103.067H31.9929V113.334H30.4529L26.0529 107.057V113.334H24.0289V103.067H25.5689L29.9689 109.33V103.067ZM42.536 111.999C41.4996 113.026 40.2382 113.539 38.752 113.539C37.2658 113.539 36.0045 113.026 34.968 111.999C33.9413 110.963 33.428 109.697 33.428 108.201C33.428 106.705 33.9413 105.443 34.968 104.417C36.0045 103.38 37.2658 102.862 38.752 102.862C40.2382 102.862 41.4996 103.38 42.536 104.417C43.5725 105.443 44.0907 106.705 44.0907 108.201C44.0907 109.697 43.5725 110.963 42.536 111.999ZM36.3907 110.621C37.0262 111.246 37.8133 111.559 38.752 111.559C39.6907 111.559 40.4778 111.246 41.1133 110.621C41.7489 109.985 42.0667 109.178 42.0667 108.201C42.0667 107.223 41.7489 106.416 41.1133 105.781C40.4778 105.145 39.6907 104.827 38.752 104.827C37.8133 104.827 37.0262 105.145 36.3907 105.781C35.7551 106.416 35.4373 107.223 35.4373 108.201C35.4373 109.178 35.7551 109.985 36.3907 110.621ZM51.4532 103.067H53.4772V113.334H51.9372L47.5372 107.057V113.334H45.5132V103.067H47.0532L51.4532 109.33V103.067ZM55.3817 109.814V107.995H60.8817V109.814H55.3817ZM72.8627 107.819V108.611C72.8627 110.078 72.3933 111.266 71.4547 112.175C70.516 113.085 69.3036 113.539 67.8173 113.539C66.2333 113.539 64.9182 113.026 63.872 111.999C62.8356 110.963 62.3173 109.702 62.3173 108.215C62.3173 106.719 62.8307 105.453 63.8573 104.417C64.8938 103.38 66.1747 102.862 67.7 102.862C68.6582 102.862 69.5333 103.082 70.3253 103.522C71.1173 103.952 71.7333 104.529 72.1733 105.253L70.4427 106.25C70.1982 105.83 69.8267 105.487 69.328 105.223C68.8391 104.959 68.2916 104.827 67.6853 104.827C66.7076 104.827 65.9009 105.15 65.2653 105.795C64.6396 106.431 64.3267 107.238 64.3267 108.215C64.3267 109.183 64.6444 109.985 65.28 110.621C65.9253 111.246 66.776 111.559 67.832 111.559C68.6142 111.559 69.2596 111.388 69.768 111.046C70.2862 110.694 70.6382 110.215 70.824 109.609H67.7147V107.819H72.8627ZM84.349 103.067V113.334H82.3396V106.675L79.4503 111.442H79.2156L76.3263 106.69V113.334H74.3023V103.067H76.385L79.333 107.922L82.2663 103.067H84.349ZM94.9006 111.999C93.8642 113.026 92.6028 113.539 91.1166 113.539C89.6304 113.539 88.369 113.026 87.3326 111.999C86.3059 110.963 85.7926 109.697 85.7926 108.201C85.7926 106.705 86.3059 105.443 87.3326 104.417C88.369 103.38 89.6304 102.862 91.1166 102.862C92.6028 102.862 93.8642 103.38 94.9006 104.417C95.937 105.443 96.4553 106.705 96.4553 108.201C96.4553 109.697 95.937 110.963 94.9006 111.999ZM88.7553 110.621C89.3908 111.246 90.1779 111.559 91.1166 111.559C92.0553 111.559 92.8424 111.246 93.4779 110.621C94.1135 109.985 94.4313 109.178 94.4313 108.201C94.4313 107.223 94.1135 106.416 93.4779 105.781C92.8424 105.145 92.0553 104.827 91.1166 104.827C90.1779 104.827 89.3908 105.145 88.7553 105.781C88.1197 106.416 87.8019 107.223 87.8019 108.201C87.8019 109.178 88.1197 109.985 88.7553 110.621Z" fill="#848484"/>
        <defs>
            <clipPath id="clip0_4707_276771">
                <rect width="75.66" height="81.87" fill="white" transform="translate(22.1699 6.73047)"/>
            </clipPath>
        </defs>
    </svg>
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4707_276774)">
            <path d="M68.4705 31.5605C68.4705 42.6505 60.1005 51.6405 60.1005 51.6405C60.1005 51.6405 51.7305 42.6505 51.7305 31.5605C51.7305 20.4705 60.1005 11.4805 60.1005 11.4805C60.1005 11.4805 68.4705 20.4705 68.4705 31.5605Z" fill="#FFD3D3"/>
            <path d="M60.1 53.3802L59.23 52.4502C58.88 52.0702 50.54 42.9902 50.54 31.5602C50.54 20.1302 58.88 11.0502 59.24 10.6702L60.11 9.74023L60.98 10.6702C61.33 11.0502 69.67 20.1302 69.67 31.5602C69.67 42.9902 61.34 52.0702 60.98 52.4502L60.11 53.3802H60.1ZM60.1 13.3102C58.02 15.9202 52.91 23.1702 52.91 31.5602C52.91 39.9502 58.02 47.2102 60.1 49.8102C62.18 47.2002 67.29 39.9502 67.29 31.5602C67.29 23.1702 62.18 15.9102 60.1 13.3102Z" fill="#585858"/>
            <path d="M81.5206 53.5498C72.1906 59.5498 60.1006 57.3698 60.1006 57.3698C60.1006 57.3698 63.1406 45.4698 72.4706 39.4698C81.8006 33.4698 93.8906 35.6498 93.8906 35.6498C93.8906 35.6498 90.8506 47.5498 81.5206 53.5498Z" fill="#FFD3D3"/>
            <path d="M65.4606 58.9399C62.2906 58.9399 60.1006 58.5599 59.8906 58.5199L58.6406 58.2899L58.9506 57.0599C59.0806 56.5599 62.2106 44.6299 71.8206 38.4599C81.4306 32.2799 93.5806 34.3799 94.0906 34.4699L95.3406 34.6999L95.0306 35.9299C94.9006 36.4299 91.7706 48.3599 82.1606 54.5399C76.5106 58.1699 69.9806 58.9399 65.4606 58.9399ZM61.6406 56.3699C64.9606 56.7099 73.8206 57.0799 80.8806 52.5499C87.9406 48.0099 91.2806 39.7899 92.3406 36.6299C89.0206 36.2899 80.1506 35.9199 73.1006 40.4499C66.0406 44.9799 62.7006 53.1999 61.6406 56.3699Z" fill="#585858"/>
            <path d="M38.6501 53.75C29.2601 47.84 26.1201 35.96 26.1201 35.96C26.1201 35.96 38.1901 33.67 47.5701 39.58C56.9501 45.49 60.1001 57.37 60.1001 57.37C60.1001 57.37 48.0301 59.66 38.6501 53.75Z" fill="#FFD3D3"/>
            <path d="M54.4004 59.0099C49.8904 59.0099 43.5504 58.2399 38.0204 54.7599C28.3504 48.6599 25.1104 36.7699 24.9704 36.2699L24.6504 35.0399L25.9004 34.7999C26.4104 34.6999 38.5404 32.4899 48.2104 38.5799C57.8804 44.6699 61.1204 56.5599 61.2504 57.0699L61.5704 58.2999L60.3204 58.5399C60.1004 58.5799 57.7604 59.0099 54.3904 59.0099H54.4004ZM39.2804 52.7599C46.3704 57.2299 55.2404 56.7699 58.5504 56.4099C57.4504 53.2599 54.0404 45.0699 46.9404 40.5999C39.8304 36.1199 30.9804 36.5799 27.6704 36.9499C28.7704 40.0999 32.1804 48.2899 39.2804 52.7599Z" fill="#585858"/>
            <path d="M60.0999 85.5902C59.4499 85.5902 58.9199 85.0602 58.9199 84.4102V51.0902C58.9199 50.4402 59.4499 49.9102 60.0999 49.9102C60.7499 49.9102 61.2799 50.4402 61.2799 51.0902V84.4002C61.2799 85.0502 60.7499 85.5802 60.0999 85.5802V85.5902Z" fill="#585858"/>
        </g>
        <path d="M39.4855 113.334L36.0388 103.067H38.2388L40.7468 110.958L43.2401 103.067H45.4548L41.9935 113.334H39.4855ZM48.4682 111.398H52.7949V113.334H46.4442V103.067H52.7216V105.003H48.4682V107.189H52.3549V109.095H48.4682V111.398ZM64.2259 107.819V108.611C64.2259 110.078 63.7566 111.266 62.8179 112.175C61.8793 113.085 60.6668 113.539 59.1806 113.539C57.5966 113.539 56.2815 113.026 55.2353 111.999C54.1988 110.963 53.6806 109.702 53.6806 108.215C53.6806 106.719 54.1939 105.453 55.2206 104.417C56.2571 103.38 57.5379 102.862 59.0633 102.862C60.0215 102.862 60.8966 103.082 61.6886 103.522C62.4806 103.952 63.0966 104.529 63.5366 105.253L61.8059 106.25C61.5615 105.83 61.1899 105.487 60.6913 105.223C60.2024 104.959 59.6548 104.827 59.0486 104.827C58.0708 104.827 57.2642 105.15 56.6286 105.795C56.0028 106.431 55.6899 107.238 55.6899 108.215C55.6899 109.183 56.0077 109.985 56.6433 110.621C57.2886 111.246 58.1393 111.559 59.1953 111.559C59.9775 111.559 60.6228 111.388 61.1313 111.046C61.6495 110.694 62.0015 110.215 62.1873 109.609H59.0779V107.819H64.2259ZM71.8932 113.334L71.2772 111.486H67.1852L66.5692 113.334H64.3838L67.9772 103.067H70.4852L74.0932 113.334H71.8932ZM67.8305 109.594H70.6465L69.2385 105.399L67.8305 109.594ZM81.0301 103.067H83.0541V113.334H81.5141L77.1141 107.057V113.334H75.0901V103.067H76.6301L81.0301 109.33V103.067Z" fill="#848484"/>
        <defs>
            <clipPath id="clip0_4707_276774">
                <rect width="70.7" height="75.85" fill="white" transform="translate(24.6504 9.74023)"/>
            </clipPath>
        </defs>
    </svg>
    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M66.1191 29.9961H95.6531" stroke="#D00D29" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M66.1191 39.0703H95.6531" stroke="#D00D29" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M66.1191 48.1387H95.6531" stroke="#D00D29" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.3467 57.2129H95.6526" stroke="#D00D29" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.3467 65.3359H95.6526" stroke="#D00D29" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.737 29.0449H24.6163C23.8612 29.0449 23.249 29.6496 23.249 30.3954V48.4042C23.249 49.15 23.8612 49.7547 24.6163 49.7547H58.737C59.4921 49.7547 60.1042 49.15 60.1042 48.4042V30.3954C60.1042 29.6496 59.4921 29.0449 58.737 29.0449Z" fill="black"/>
        <path d="M41.2859 33.4297L42.5858 37.3747H46.7886L43.3873 39.8162L44.6872 43.7613L41.2859 41.3197L37.8846 43.7613L39.1845 39.8162L35.7832 37.3747H39.986L41.2859 33.4297Z" fill="white"/>
        <path d="M26.556 103.067V113.334H24.5467V106.675L21.6573 111.442H21.4227L18.5333 106.69V113.334H16.5093V103.067H18.592L21.54 107.922L24.4733 103.067H26.556ZM35.069 113.334L34.453 111.486H30.361L29.745 113.334H27.5596L31.153 103.067H33.661L37.269 113.334H35.069ZM31.0063 109.594H33.8223L32.4143 105.399L31.0063 109.594ZM42.3432 103.067C43.7512 103.067 44.9245 103.561 45.8632 104.549C46.8116 105.536 47.2858 106.754 47.2858 108.201C47.2858 109.648 46.8116 110.865 45.8632 111.853C44.9245 112.84 43.7512 113.334 42.3432 113.334H38.2658V103.067H42.3432ZM42.3432 111.398C43.2329 111.398 43.9565 111.105 44.5138 110.518C45.0712 109.922 45.3498 109.149 45.3498 108.201C45.3498 107.252 45.0712 106.485 44.5138 105.898C43.9565 105.302 43.2329 105.003 42.3432 105.003H40.2898V111.398H42.3432ZM50.7456 111.398H55.0722V113.334H48.7216V103.067H54.9989V105.003H50.7456V107.189H54.6322V109.095H50.7456V111.398ZM60.1656 103.067H62.1896V113.334H60.1656V103.067ZM70.0301 103.067H72.0541V113.334H70.5141L66.1141 107.057V113.334H64.0901V103.067H65.6301L70.0301 109.33V103.067ZM81.4532 113.539C80.3092 113.539 79.3705 113.217 78.6372 112.571C77.9039 111.926 77.5372 111.061 77.5372 109.975V103.067H79.5465V109.814C79.5465 110.352 79.6981 110.777 80.0012 111.09C80.3141 111.403 80.7981 111.559 81.4532 111.559C82.1083 111.559 82.5874 111.403 82.8905 111.09C83.2034 110.777 83.3599 110.352 83.3599 109.814V103.067H85.3839V109.975C85.3839 111.061 85.0172 111.926 84.2839 112.571C83.5505 113.217 82.607 113.539 81.4532 113.539ZM90.7126 113.539C89.6957 113.539 88.8401 113.314 88.1459 112.865C87.4517 112.405 86.9628 111.784 86.6792 111.002L88.4099 109.99C88.8108 111.036 89.5979 111.559 90.7712 111.559C91.3384 111.559 91.7539 111.457 92.0179 111.251C92.2819 111.046 92.4139 110.787 92.4139 110.474C92.4139 110.112 92.2526 109.834 91.9299 109.638C91.6072 109.433 91.0304 109.213 90.1992 108.978C89.7397 108.841 89.3486 108.704 89.0259 108.567C88.713 108.43 88.3952 108.25 88.0726 108.025C87.7597 107.79 87.5201 107.497 87.3539 107.145C87.1877 106.793 87.1046 106.382 87.1046 105.913C87.1046 104.984 87.4321 104.246 88.0872 103.698C88.7521 103.141 89.549 102.862 90.4779 102.862C91.309 102.862 92.0375 103.067 92.6632 103.478C93.2988 103.879 93.7926 104.441 94.1446 105.165L92.4432 106.147C92.0326 105.267 91.3775 104.827 90.4779 104.827C90.0575 104.827 89.725 104.925 89.4806 105.121C89.2459 105.306 89.1286 105.551 89.1286 105.854C89.1286 106.177 89.2606 106.441 89.5246 106.646C89.7984 106.842 90.3166 107.057 91.0792 107.291C91.3921 107.389 91.6268 107.467 91.7832 107.526C91.9495 107.575 92.1695 107.658 92.4432 107.775C92.7268 107.883 92.9419 107.986 93.0886 108.083C93.245 108.181 93.421 108.313 93.6166 108.479C93.8121 108.646 93.9588 108.817 94.0566 108.993C94.1641 109.169 94.2521 109.384 94.3206 109.638C94.3988 109.882 94.4379 110.151 94.4379 110.445C94.4379 111.393 94.0908 112.146 93.3966 112.703C92.7121 113.261 91.8175 113.539 90.7126 113.539ZM102.2 113.334L101.584 111.486H97.4925L96.8765 113.334H94.6911L98.2845 103.067H100.792L104.4 113.334H102.2ZM98.1378 109.594H100.954L99.5458 105.399L98.1378 109.594Z" fill="#848484"/>
    </svg>
</div>


{% schema %}
{
"name": "PDP Hero",
"tag": "section",
"class": "pdp-hero",
"blocks": [
{
"type": "@app"
}
]
}
{% endschema %}
