{% if product.metafields.accentuate.square_icon_image and product.metafields.accentuate.square_icon_image != empty %}
    <div class="svg-wrapper c-112 mw">
        <div class="inner">
            {% for group in product.metafields.accentuate.square_icon_image %}
                <div class="group">
                    <img class="preload" data-preload-desktop='{{ group[0].src }}' data-preload-mobile="{{ group[0].src }}">
                    <p>{{ product.metafields.accentuate.iconTitle[forloop.index0] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


<div class="faq-section c-50">
    {% if product.metafields.accentuate.drawers_header and product.metafields.accentuate.drawers_header != empty %}
        <div class="top mw {% if product.metafields.accentuate.drawers_mobile_bg %}faq-section__has-bg{% endif %}" {% if product.metafields.accentuate.drawers_mobile_bg %}style="background-color:{{ product.metafields.accentuate.drawers_mobile_bg }}"{% endif %}>
            <img src="{{ product.metafields.accentuate.drawers_image[0].src }}">
            <h3>{{ product.metafields.accentuate.drawers_header }}</h3>
            <p class="text-m">{{ product.metafields.accentuate.drawers_intro_text }}</p>
        </div>
    {% endif %}
    {% if product.metafields.accentuate.drawer_header and product.metafields.accentuate.drawer_header != empty %}
    <div class="faq-block">
        {% for drawer in product.metafields.accentuate.drawer_header %}
            <div class="detail-btn drawer allow-click">
                <div class="question">{{ drawer }}<span class="trigger-plus">{% include"plus" %}</span></div>
                <div class="drawer-items answer text-m">
                    {{ product.metafields.accentuate.drawer_rich_text[forloop.index0] }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="fifty-fifty-experts">
    <div class="c-190">
        <div class="left">
            <h4 class="header-m">{{ section.settings.experts_header }}</h4>
            <p class="text-m">{{ section.settings.experts_text }}</p>
            {% if section.settings.experts_button_link != blank %}
                <a href="{{ section.settings.experts_button_link }}" class="btn black caps">{% include 'icon-play' %} {{ section.settings.experts_button_text }}</a>
            {% endif %}
        </div>
        <div class="right mw">
            {% if section.settings.expert_one_name != blank %}
                <div class="content">
                    <img class="image preload" data-preload-desktop="https:{{ section.settings.expert_one_image |  image_url }}" data-preload-mobile="https:{{ section.settings.expert_one_image | image_url }}">
                    <div class="inner-text">
                        <p>{{ section.settings.expert_one_name }}</p>
                        <p>{{ section.settings.expert_one_title }}</p>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.expert_two_name != blank %}
                <div class="content">
                    <img class="image preload" data-preload-desktop="https:{{ section.settings.expert_two_image | image_url }}" data-preload-mobile="https:{{ section.settings.expert_two_image | image_url }}">
                    <div class="inner-text">
                        <p>{{ section.settings.expert_two_name }}</p>
                        <p>{{ section.settings.expert_two_title }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% assign size_people = product.metafields.accentuate.image_before.size | minus: 1 %}
{% if size_people > 0 %}
    <div class="real-people__section  c-50">
        <div class="real-people__text-wrap">
            <h2 class="real-people__title">{{ product.metafields.accentuate.real_people_title }}</h2>
            {{ product.metafields.accentuate.real_people__text }}
        </div>
        <div class="real-people__holder">
            {% for i in (0..size_people) %}
                <div class="real-people__item">
                    <img src="{{ product.metafields.accentuate.image_before[i] }}" alt="before/after">
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "PDP Main",
    "class": "pdp-main",
    "settings": [
        {
            "id": "experts_header",
            "type": "text",
            "label": "Experts Header"
        },
        {
            "id": "experts_text",
            "type": "text",
            "label": "Experts Text"
        },
        {
            "id": "experts_button_link",
            "type": "text",
            "label": "Experts button link"
        },
        {
            "id": "experts_button_text",
            "type": "text",
            "label": "Experts button text"
        },
        {
            "id": "expert_one_name",
            "type": "text",
            "label": "Expert one name"
        },
        {
            "id": "expert_one_title",
            "type": "text",
            "label": "Expert one title"
        },
        {
            "id": "expert_one_image",
            "type": "image_picker",
            "label": "Expert one image"
        },
        {
            "id": "expert_two_name",
            "type": "text",
            "label": "Expert two name"
        },
        {
            "id": "expert_two_title",
            "type": "text",
            "label": "Expert two title"
        },
        {
            "id": "expert_two_image",
            "type": "image_picker",
            "label": "Expert two image"
        }
    ]
}
{% endschema %}