<link rel="stylesheet" href="{{ 'custom-pdp-page.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-pdp-page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="faq-product faq-product--mob">
    <div class="container">
        <div class="faq-product__content-wrapper">
            {% assign info_block_size = product.metafields.info_block.title.size | minus: 1 %}
            {% for i in (0..info_block_size) %}
                <div class="detail-btn drawer allow-click">
                    <div class="question">{{ product.metafields.info_block.title[i] }}
                        <span class="trigger-plus">{% include "plus" %}</span>
                    </div>
                    <div class="drawer-items answer text-m">
                        {{ product.metafields.info_block.content[i] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<section class="product-terms">
    <div class="container">
        <div class="product-terms__content-wrapper">
            <div class="product-terms__content">
                <div class="content-icon">
                </div>
                <p class="content-text">

                </p>
            </div>
        </div>
    </div>
</section>

<section class="product-ingredients">
    <div class="container">
        <div class="product-ingredients__content-wrapper">
            {% assign size = product.metafields.accentuate.text.size | minus: 1 %}
            {% for i in (0..size) %}
                <div class="product-ingredients__content">
                    <div class="product-ingredients__icon">
                        {{ product.metafields.accentuate.svg_icon[i] }}
                    </div>
                    <p class="product-ingredients__text">{{ product.metafields.accentuate.text[i] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% assign add_decription_size = product.metafields.add_decription.title.size | minus: 1 %}
{% if add_decription_size > -1 %}
    <section class="product-info">
        <div class="container">
            {% for i in (0..add_decription_size) %}
                <div class="product-info__content-card {% if product.metafields.add_decription.image_on_the_left[i] != blank %} product-info__content-card--revers{% endif %}">

                    <div class="product-info__img">
                        <h2 class="product-info__title">{{ product.metafields.add_decription.title[i] }}</h2>
                        <img src="{{ product.metafields.add_decription.image[i] }}"
                             alt="{{ product.metafields.add_decription.title[i] }}">
                    </div>

                    <div class="product-info__content-wrapper">
                        <h2 class="product-info__title">{{ product.metafields.add_decription.title[i] }}</h2>

                        <div class="product-info__content">
                            {{ product.metafields.add_decription.text[i] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}

{% assign desc_ingredient_size = product.metafields.desc_ingredient.item_text.size | minus: 1 %}
{% if desc_ingredient_size > -1 %}
    <div class="advantages-composition">
        <div class="container">
            <div class="advantages-composition__content">
                <div class="advantages-composition__title-wrapper">
                    <h2 class="advantages-composition__title">{{ product.metafields.desc_ingredient.title }}</h2>
                    <p class="advantages-composition__text">{{ product.metafields.desc_ingredient.text }}</p>
                </div>

                <div class="advantages-composition__icon-group">
                    {% for i in (0..desc_ingredient_size) %}
                        <div class="advantages-composition__icon-elem">
                            <div class="icon">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.34198 11.5L9.72465 13.8863L15.4828 8.12455M21.1001 11.5C21.1001 17.0228 16.6229 21.5 11.1001 21.5C5.57725 21.5 1.1001 17.0228 1.1001 11.5C1.1001 5.97715 5.57725 1.5 11.1001 1.5C16.6229 1.5 21.1001 5.97715 21.1001 11.5Z"
                                          stroke="#FCFCFC" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                            <span class="icon-text">{{ product.metafields.desc_ingredient.item_text[i] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="faq-product">
    <div class="container">
        <div class="faq-product__content-wrapper">
            {% assign info_block_size = product.metafields.info_block.title.size | minus: 1 %}
            {% for i in (0..info_block_size) %}
                <div class="detail-btn drawer allow-click">
                    <div class="question">{{ product.metafields.info_block.title[i] }}
                        <span class="trigger-plus">{% include "plus" %}</span>
                    </div>
                    <div class="drawer-items answer text-m">
                        {{ product.metafields.info_block.content[i] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %}

<div class="fifty-fifty-experts">
    <div class="c-190">
        <div class="left">
            <h4 class="header-m">{{ section.settings.experts_header }}</h4>
            <p class="text-m">{{ section.settings.experts_text }}</p>
            {% if section.settings.experts_button_link != blank %}
                <a href="{{ section.settings.experts_button_link }}"
                   class="btn black caps">{% include 'icon-play' %} {{ section.settings.experts_button_text }}</a>
            {% endif %}
        </div>
        <div class="right mw">
            {% if section.settings.expert_one_name != blank %}
                <div class="content">
                    <img class="image preload"
                         data-preload-desktop="https:{{ section.settings.expert_one_image | image_url }}"
                         data-preload-mobile="https:{{ section.settings.expert_one_image | image_url }}">
                    <div class="inner-text">
                        <p>{{ section.settings.expert_one_name }}</p>
                        <p>{{ section.settings.expert_one_title }}</p>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.expert_two_name != blank %}
                <div class="content">
                    <img class="image preload"
                         data-preload-desktop="https:{{ section.settings.expert_two_image | image_url }}"
                         data-preload-mobile="https:{{ section.settings.expert_two_image | image_url }}">
                    <div class="inner-text">
                        <p>{{ section.settings.expert_two_name }}</p>
                        <p>{{ section.settings.expert_two_title }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% assign size_people = product.metafields.accentuate.image_before.size | minus: 1 %}
{% if size_people > 0 %}
    <div class="real-people__section  c-50">
        <div class="real-people__text-wrap">
            <h2 class="real-people__title">{{ product.metafields.accentuate.real_people_title }}</h2>
            {{ product.metafields.accentuate.real_people__text }}
        </div>
        <div class="real-people__holder">
            {% for i in (0..size_people) %}
                <div class="real-people__item">
                    <img src="{{ product.metafields.accentuate.image_before[i] }}" alt="before/after">
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endcomment %}

{% comment %}{% if product.metafields.accentuate.square_icon_image and product.metafields.accentuate.square_icon_image != empty %}
    <div class="svg-wrapper c-112 mw">
        <div class="inner">
            {% for group in product.metafields.accentuate.square_icon_image %}
                <div class="group">
                    <img class="preload" data-preload-desktop='{{ group[0].src }}' data-preload-mobile="{{ group[0].src }}">
                    <p>{{ product.metafields.accentuate.iconTitle[forloop.index0] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}{% endcomment %}

{% schema %}
{
  "name": "PDP Main",
  "class": "pdp-main",
  "settings": [
    {
      "id": "experts_header",
      "type": "text",
      "label": "Experts Header"
    },
    {
      "id": "experts_text",
      "type": "text",
      "label": "Experts Text"
    },
    {
      "id": "experts_button_link",
      "type": "text",
      "label": "Experts button link"
    },
    {
      "id": "experts_button_text",
      "type": "text",
      "label": "Experts button text"
    },
    {
      "id": "expert_one_name",
      "type": "text",
      "label": "Expert one name"
    },
    {
      "id": "expert_one_title",
      "type": "text",
      "label": "Expert one title"
    },
    {
      "id": "expert_one_image",
      "type": "image_picker",
      "label": "Expert one image"
    },
    {
      "id": "expert_two_name",
      "type": "text",
      "label": "Expert two name"
    },
    {
      "id": "expert_two_title",
      "type": "text",
      "label": "Expert two title"
    },
    {
      "id": "expert_two_image",
      "type": "image_picker",
      "label": "Expert two image"
    }
  ]
}
{% endschema %}