<div class="c-60">
    <h3 class="header-l">{{ settings.reviews_header }}</h3>

    <div class="slider blocks mw" data-align="center">
        <div class="slides">
            <div class="inner">
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_image.alt %} alt="{{ settings.review_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_image | image_url }}" data-preload-mobile="https:{{ settings.review_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_text }}</p>
                    <p class="title username">{{ settings.review_author }}</p>
                    <p class="subtitle">{{ settings.review_author_title }}</p>
                </div>
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_two_image.alt %} alt="{{ settings.review_two_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_two_image | image_url }}" data-preload-mobile="https:{{ settings.review_two_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_two_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_two_text }}</p>
                    <p class="title username">{{ settings.review_two_author }}</p>
                    <p class="subtitle">{{ settings.review_two_author_title }}</p>
                </div>
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_three_image.alt %} alt="{{ settings.review_three_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_three_image | image_url }}" data-preload-mobile="https:{{ settings.review_three_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_three_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_three_text }}</p>
                    <p class="title username">{{ settings.review_three_author }}</p>
                    <p class="subtitle">{{ settings.review_three_author_title }}</p>
                </div>
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_four_image.alt %} alt="{{ settings.review_four_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_four_image | image_url }}" data-preload-mobile="https:{{ settings.review_four_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_four_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_four_text }}</p>
                    <p class="title username">{{ settings.review_four_author }}</p>
                    <p class="subtitle">{{ settings.review_four_author_title }}</p>
                </div>
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_five_image.alt %} alt="{{ settings.review_five_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_five_image | image_url }}" data-preload-mobile="https:{{ settings.review_five_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_five_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_five_text }}</p>
                    <p class="title username">{{ settings.review_five_author }}</p>
                    <p class="subtitle">{{ settings.review_five_author_title }}</p>
                </div>
                <div class="block slide">
                    <img class="product-image preload"{% if settings.review_six_image.alt %} alt="{{ settings.review_six_image.alt }}"{% endif %} data-preload-desktop="https:{{ settings.review_six_image | image_url }}" data-preload-mobile="https:{{ settings.review_six_image | image_url }}">
                    <div class="reviews">{% include 'icon-reviews-temp' %}</div>
                    <p class="title review-title">{{ settings.review_six_title }}</p>
                    <p class="subtitle review-copy">{{ settings.review_six_text }}</p>
                    <p class="title username">{{ settings.review_six_author }}</p>
                    <p class="subtitle">{{ settings.review_six_author_title }}</p>
                </div>
            </div>
            <button class="arrow prev"><i></i><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 29" style="enable-background:new 0 0 28 29;" xml:space="preserve"><path id="circle" d="M14,28.5L14,28.5c-7.7,0-14-6.3-14-14l0,0c0-7.7,6.3-14,14-14l0,0c7.7,0,14,6.3,14,14l0,0C28,22.2,21.7,28.5,14,28.5z" fill="#EAEAEA"/><path id="arrow" d="M14,10.5l0.7,0.7L11.9,14H18v1h-6.1l2.8,2.8L14,18.5l-4-4L14,10.5z" fill="#1C1B1F"/></svg></svg></button>
            <button class="arrow next"><i></i> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 29" style="enable-background:new 0 0 28 29;" xml:space="preserve"><path id="circle" d="M14,0.5L14,0.5c7.7,0,14,6.3,14,14l0,0c0,7.7-6.3,14-14,14l0,0c-7.7,0-14-6.3-14-14l0,0C0,6.8,6.3,0.5,14,0.5z" fill="#EAEAEA" /><path id="arrow" d="M14,18.5l-0.7-0.7l2.8-2.8H10v-1h6.1l-2.8-2.8l0.7-0.7l4,4L14,18.5z" fill="#1C1B1F"/></svg></button>
        </div>
    </div>

</div>


{% schema %}
{
"name": "Reviews Slider",
"tag": "section",
"class": "reviews-slider"
}
{% endschema %}